<!DOCTYPE html>
<html class="x-admin-sm">

<head>
  <meta charset="UTF-8">
  <title>银行管理系统</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
    content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
  <link rel="stylesheet" href="/css/font.css">
  <link rel="stylesheet" href="/css/xadmin.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/lib/layui/layui.js" charset="utf-8"></script>
  <script type="text/javascript" src="/js/xadmin.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>
<script>
  //添加卖出事件的回调函数
  function myClick(self) {
    if (confirm) {
      axios.post('/sale', {
        id: self.previousElementSibling.innerHTML.trim(),
        type: self.nextElementSibling.innerHTML.trim(),
        time: self.parentNode.parentNode.children[2].innerHTML.trim(),
        profit: self.parentNode.parentNode.children[4].innerHTML.trim()
      }).then(res => {
        if(res.data.code === 200){
          alert('卖出成功!')
          self.parentNode.parentNode.remove()
        }
      })
    }
  }
</script>

<body>
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-body layui-table-body layui-table-main">
            <table class="layui-table layui-form">
              <thead>
                <tr>
                  <th>理财产品名称</th>
                  <th>理财产品类型</th>
                  <th>购买时间</th>
                  <th>购买数量</th>
                  <th>收益</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                <% let i=0 %>
                  <% data.forEach(item=>{%>
                    <tr>
                      <td>
                        <%= item.fp_name||item.fund_name||item.insurance_name %>
                      </td>
                      <td>
                        <%= item.class %>
                      </td>
                      <td>
                        <%= item.time %>
                      </td>
                      <td>
                        <%= item.pno %>
                      </td>
                      <td>
                        <%= item.profit%>
                      </td>
                      <td class="td-manage">
                        <span style="display: none;">
                          <%= id %>
                        </span>
                        <button type="button" class="btn btn-warning" onclick="myClick(this)">卖出</button>
                        <span style="display: none;">
                          <%= type[i] %>
                            <% i++ %>
                        </span>
                      </td>
                    </tr>
                    <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
  layui.use(['laydate', 'form'], function () {
    var laydate = layui.laydate;
    var form = layui.form;


    //执行一个laydate实例
    laydate.render({
      elem: '#start' //指定元素
    });

    //执行一个laydate实例
    laydate.render({
      elem: '#end' //指定元素
    });


  });

</script>

</html>