<!DOCTYPE html>
<html class="x-admin-sm">

<head>
  <meta charset="UTF-8">
  <title>银行管理系统</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
    content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
  <link rel="stylesheet" href="/css/font.css">
  <link rel="stylesheet" href="/css/xadmin.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/lib/layui/layui.js" charset="utf-8"></script>
  <script type="text/javascript" src="/js/xadmin.js"></script>
  <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-body layui-table-body layui-table-main">
            <table class="layui-table layui-form">
              <thead>
                <tr>
                  <th>卡号</th>
                  <th>类型</th>
                  <th>办理时间</th>
                  <th>密码</th>
                  <th>余额</th>
                </tr>
              </thead>
              <tbody>
                <% cards.forEach(item=>{ %>
                <tr>
                  <td><%= item.credit_id?item.credit_id:item.deposit_card %></td>
                  <td><%= item.class?item.class:'储蓄卡' %></td>
                  <td><%= item.time %></td>
                  <td><%= item.credit_pwd?item.credit_pwd:item.deposit_pwd %></td>
                  <td><%= item.consumption?item.consumption:item.balance %></td>
                </tr>
                <%})%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
  layui.use(['laydate', 'form'], function () {
    var laydate = layui.laydate;
    var form = layui.form;


    //执行一个laydate实例
    laydate.render({
      elem: '#start' //指定元素
    });

    //执行一个laydate实例
    laydate.render({
      elem: '#end' //指定元素
    });


  });

</script>

</html>